<div class="container">
  <h1>Welcome to Dialectica!</h1>
  <hr />
  <p>
      <strong>How can we help you?</strong>
  </p>

  <div class="card-deck">

    <div class="card" style="">
      <div class="card-body">
        <h5 class="card-title">I'm an Author</h5>
        <p class="card-text">I'd like to submit a paper to Dialectia.</p>
        <%= link_to "Submit a Paper", new_submission_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="card" style="">
      <div class="card-body">
        <h5 class="card-title">I'm a Reviewer</h5>
        <p class="card-text">I'd like to review papers for Dialectica.</p>
        <%= link_to "To the pool", submission_pool_path, class: "btn btn-primary" %>
      </div>
    </div>

  </div>

</div>
