<% cp = CiteProc::Processor.new style: 'apa', format: 'html' %>
<% cp.import BibTeX.open('./public/bibtex/dialectica-sandro.bib').to_citeproc %>
<% array_of_ids = [] %>
<% @b['@article'].each do |article| %>
  <% array_of_ids.push(article.id) %>
<% end %>


<div class="container">



  <h1>Bibtex</h1>
  <% array_of_ids.last(10).each do |id| %>
  <% citation = raw (cp.render :bibliography, id: id).first %>
  <li>
    <%= citation %>
    <br />
    <strong>Found DOI-Links</strong><br />
    <% Serrano.works(query: citation)["message"]["items"].each do |item|%>
      <%=  link_to item["URL"], item["URL"]  %><br />
    <% end %>

    <br />
    <br />
  </li>

  <% end %>
</div>
