<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <h1 class="my-4">Overview</h1>
    </div>
    <div class="text-center">
      <p>
        Dialectica is soon going to be an <b>Open-Access Journal</b>.
      </p>
      <p>
        Latest developments can be found here: <%= link_to "Open Access Blog", blog_posts_path %>
      </p>
      <hr />
      <p>
        The current issue can be found here:
      </p>
      <p>

      </p>
    </div>
  </div>
</div>
