<div class="container">
  <h1>Bibtex</h1>
  <p>
    <%= form_tag bibtex_create_path, multipart: true do %>
      <%#= file_field_tag :file, class: "btn btn-secondary" %>
      <%= text_area_tag :text %>
      <br />
      <%= select_tag :format, options_for_select(Stuff.bibtex_options.collect{ |u| [u, u] }) %>
      <br />
      <%= submit_tag "Convert", class: "btn btn-primary" %>
    <% end %>
  </p>
</div>
