<div class="row">
  <% issues.each do |issue| %>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <%= render 'card', issue: issue %>
    </div>
  <% end %>
</div>

<%#= paginate issues, params: {controller: 'issues', action: 'index'} %>
