<div class="container-fluid">

<!-- Title -->
<h1 class="mt-4 text-center"><%= article.title %></h1>
<hr>

  <!-- Post Content -->
  <% unless article.content.blank? %>
    <%= raw Sanitize.fragment(article.content, Sanitize::Config::RELAXED) %>
  <% end %>

  <% unless article.latex_code.blank? %>
  <div class="row">
      <div class="col-6">
        <%= article.latex_code %>
      </div>
      <div class="col-6">
        <div class="embed-responsive embed-responsive-1by1">
          <iframe src="https://latexonline.cc/compile?url=<%= article_latex_code_url %>"></iframe>
        </div>
      </div>
  </div>

  <% end %>

 <%#= link_to "print", article_path(article,:format => :pdf) %>
 <%#= link_to "Print External", "https://latexonline.cc/compile?url=#{article_latex_code_url}"  %>

<hr>
</div>
