<div class="container">
  <h1>enter dois</h1>
  <p>
    <strong>Examples</strong><br />
    10.1007/s11098-018-1120-9<br />
10.1007/s11098-018-1157-9<br />
10.1007/s11098-018-1128-1<br />
10.1007/s11098-018-1156-x<br />
10.1007/s11098-018-1176-6<br />
10.1007/s11098-018-1040-8<br />
10.1007/s11098-018-1077-8<br />
10.1007/s11098-018-1048-0<br />
10.1007/s11098-018-1096-5<br />
10.1007/s11098-018-1116-5<br />
10.1007/s11098-017-1013-3<br />
10.1007/s11098-018-1135-2<br />
10.1007/s11098-018-1036-4<br />
10.1007/s11098-018-1163-y<br />
10.1007/s11098-018-1084-9<br />
10.1007/s11098-018-1055-1<br />

  </p>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter here</label>
    <textarea class="form-control" id="dois_text_area" rows="10" placeholder="10.1007/s11098-018-1156-x
10.1007/s11098-018-1176-6
10.1007/s11098-018-1040-8
10.1007/s11098-018-1077-8
10.1007/s11098-018-1048-0
10.1007/s11098-018-1096-5
10.1007/s11098-018-1116-5
10.1007/s11098-017-1013-3
10.1007/s11098-018-1135-2
10.1007/s11098-018-1036-4"></textarea>
  </div>
  <br />
  <button id="button_to_get_data" type="button" class="btn btn-primary">submit dois</button>
  <hr />
  <table class="table table-striped table-bordered doi-result">

  </table>

</div>

<script>
  $( document ).ready(function() {

    //var test_dois = ["10.1007/s11098-020-01510-2", "10.1007/s11098-021-01751-9"];

    //var dois = test_dois;

    var dois_text_area = $("#dois_text_area").val();
    var dois = dois_text_area.split(/\r?\n/);

      var iteration_value = 0;
      //var progress_bar_value = 0;
      //var progress_bar_steps = Math.round(100 / dois.length);
      //var completed_dois_value = 0;

      $( "#button_to_get_data" ).click(function() {
        get_data_from_crossref(iteration_value);
      });


      function get_data_from_crossref(step){
        var dois_text_area = $("#dois_text_area").val();
        var dois = dois_text_area.split(/\r?\n/);

        if ( dois.length <= step ) {
          iteration_value = 0;
          return;
        }

        $.ajax({
          url: "https://api.crossref.org/works/" + dois[step],
          method: 'GET'
        }).done(function(data) {
          console.log(data);
          $(".doi-result").append(encapsulate_td(data));


        }).always(function(data) {
          iteration_value = iteration_value + 1;
          get_data_from_crossref(iteration_value);
        })
      }

      function encapsulate_td(data){
        author3 = ""

        author3_array = data.message.author.slice(2);
        for (var i = 0; i < author3_array.length; i++) {
          if (i == author3_array.length - 1) {
            author3 = author3 + author3_array[i].family + ", " + author3_array[i].given
          } else {
            author3 = author3 + author3_array[i].family + ", " + author3_array[i].given + " and "
          }
        }

        var html = `
        <tr>
          <td>@article{</td>
            <td>
              ${data.message.author[0].family.toLowerCase()}_${data.message.author[0].given.charAt(0).toLowerCase()}:${data.message.published["date-parts"][0][0]}
            </td>
          <td>,</td>
          <td>author = {</td>
          <td>
            ${data.message.author[0].family}, ${data.message.author[0].given}
          </td>
          <td>
            ${
              data.message.author[1] !== undefined ? data.message.author[1].family : ""
            }
            ${
              data.message.author[1] !== undefined ? data.message.author[1].given : ""
            }
          </td>
          <td>
            ${ author3 }
          </td>

          <td>
            },
          </td>
          <td>
            year = {
          </td>
          <td>
            ${data.message.published["date-parts"][0][0]}
          </td>
          <td>
            },
          </td>
          <td>
            title = {
          </td>
          <td>
            ${data.message.title[0]}
          </td>
          <td>
            },
          </td>
          <td>
            journal = {
          </td>
          <td>
            ${data.message["container-title"][0]}
          </td>
          <td>
            },
          </td>
          <td>
            volume = {
          </td>
          <td>
            ${data.message.volume}
          </td>
          <td>
            },
          </td>
          <td>
            number = {
          </td>
          <td>
            ${data.message["journal-issue"] !== undefined ? data.message["journal-issue"]["issue"] : "undefined"}

          </td>
          <td>
            },
          </td>
          <td>
            pages = {
          </td>
          <td>
            ${data.message.page !== undefined ? data.message.page.replace(/-/,"--") : "undefined"}
          </td>
          <td>
            },
          </td>
          <td>
            doi = {
          </td>
          <td>${data.message.DOI}</td>
          <td>
            },
          </td>
        </tr>
`;
        return html;
      }

      function create_or_update_submission(step) {

        submission = submissions[step];
        console.log("Doing: " + submission);

        $.ajax({
          url: "<%= create_or_update_submission_path %>/",
          method: 'POST',
          data: {submission: submission},
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function() {
          progress_bar_value = progress_bar_value + progress_bar_steps;
          completed_submissions_value = completed_submissions_value + 1;
          $("#progress-bar-loading-screen").width(progress_bar_value + "%");
          $("#completed_submissions_count").text(completed_submissions_value);

          if(completed_submissions_value === submissions.length){
               window.location.href = "<%= submission_pool_path %>";
          } else {
            create_or_update_submission(step + 1)
          }

        });
      }

  });
</script>
