/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-1 {
  border-width: 1px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-2 {
  border-width: 2px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-3 {
  border-width: 3px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-4 {
  border-width: 4px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-5 {
  border-width: 5px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-6 {
  border-width: 6px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-7 {
  border-width: 7px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-8 {
  border-width: 8px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-9 {
  border-width: 9px !important;
}

/* line 23, app/assets/stylesheets/custom.scss */
.thick-borders-10 {
  border-width: 10px !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-light-green {
  background-color: #92E675 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-light-green:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #b4eea0 !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-dark-green {
  background-color: #32CD32 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-dark-green:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #5bd75b !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-light-red {
  background-color: #C44B3F !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-light-red:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #d07066 !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-dark-red {
  background-color: #DC143C !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-dark-red:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #ed365b !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-violet {
  background-color: #FF1493 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-violet:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #ff47aa !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-dark-grey {
  background-color: #A9A9A9 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-dark-grey:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #c3c3c3 !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-black {
  background-color: #000000 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-black:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #1a1a1a !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-dialectica-blue {
  background-color: #164DA2 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-dialectica-blue:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #1c62cf !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-yellow {
  background-color: #F4E95C !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-yellow:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #f7ef8c !important;
}

/* line 30, app/assets/stylesheets/custom.scss */
.bg-color-orange {
  background-color: #F89952 !important;
}

/* line 38, app/assets/stylesheets/custom.scss */
.bg-color-orange:hover {
  transform: scale(1.09);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: #fab683 !important;
}

/* line 54, app/assets/stylesheets/custom.scss */
.border-light-yellow {
  border-color: #fdfd96 !important;
  border-radius: 25px;
  border: 2px;
}

/* line 54, app/assets/stylesheets/custom.scss */
.border-dark-yellow {
  border-color: #FAFA0F !important;
  border-radius: 25px;
  border: 2px;
}

/* line 88, app/assets/stylesheets/custom.scss */
.bg-first-color {
  background-color: #164da2;
}

/* line 92, app/assets/stylesheets/custom.scss */
.embed-responsive-210by297 {
  padding-bottom: 141.42%;
}

/* line 96, app/assets/stylesheets/custom.scss */
blockquote {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 5px 1.2em 10px;
  border-left: 8px solid #78C0A8;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

/* line 110, app/assets/stylesheets/custom.scss */
.arrow-animation {
  transform: rotate(0deg);
}

/* line 115, app/assets/stylesheets/custom.scss */
.arrow-animation.show {
  transform: rotate(90deg);
}

/* line 120, app/assets/stylesheets/custom.scss */
.arrow-animation.collapsed {
  transform: rotate(0deg);
}
