<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">
      <h1 class="my-4">Contents</h1>
    </div>
    <% if is_user_admin?(current_user) %>
      <div class="text-center">
        <%= link_to 'New Entry', new_blog_post_path, class: "btn btn-primary my-2" %>
      </div>
    <% end %>
    <%#= render "blog_posts/search_form", blog_posts: @blog_posts %>
    <div class="blog_posts">
      <%#= render partial: "blog_posts/show", collection: @blog_posts, as: :blog_post %>
      <%= render 'blog_posts_in_groups_of_3', blog_posts: @blog_posts %>
    </div>
  </div>
</div>
