<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= submission.title %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="card-text">
      <strong>status: </strong> <%= submission.status_for_author %>
    </p>
    <hr>
    <p>
      do you want to withdraw your submission?
    </p>
    <a href="#" class="btn btn-primary">withdraw submission</a>
    <hr>
    <p>
      do you want to re-submit this submission?
    </p>
    <a href="#" class="btn btn-primary text-center">re-submit</a>

  </div>
</div>
