<div class="row">
  <% submissions.each do |submission| %>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <%= render 'submissions/card', submission: submission %>
    </div>
  <% end %>
</div>
