<%= render "layouts/dialectica_navigation" %>

<div class="container">
  <p><em>Dialectica</em> is undergoing a restructuring with a new editorial team. Submissions are therefore temporarily closed. We anticipate reopening for new submissions in the coming months.</p>
</div>

<%= render "layouts/footer" %>
