<div class="container">
<h1>Pool</h1>
<hr />
<p>

</p>
<% unless user_signed_in? %>
<p>
  <strong>If you are a reviewer, please log in </strong><br /><br />
    <%= link_to('Login', new_user_session_path, class: "btn btn-primary") %>
</p>

<% else %>

<% submissions_without_reviewers = Submission.left_outer_joins(:users).where( users: { id: nil } ) %>
<% submissions_with_reviewers = Submission.where.not(id: submissions_without_reviewers.pluck(:id)) %>

<h3>Submissions without reviewers</h3>
<%= render 'submissions/table_for_submissions', submissions: submissions_without_reviewers.order(:created_at) %>
<hr />

<h3>Submissions with reviewers</h3>
<%= render 'submissions/table_for_submissions', submissions: submissions_with_reviewers.order(:created_at) %>

<% end %>

</div>
