<%= render "layouts/fishpond_navigation" %>

<div class="container-fluid">
  <%= render 'submissions/show_pool', submission: @submission %>
  <%#= render 'show', submission: @submission %>
  <%#= render 'submissions/card', submission: @submission %>
  <%#= render 'submissions/panel', submission: @submission %>
</div>

<%= render "layouts/footer" %>
