<div class="container">
  <%= render 'show', submission: @submission %>
  <%#= render 'submissions/card', submission: @submission %>
  <%#= render 'submissions/panel', submission: @submission %>
</div>
