<%= render "layouts/dialectica_navigation" %>
<div class="container">
<h1>Submission was successful</h1>
<p>
  Please log in to see further information about the status of your submission(s):<br />
  <%= link_to('login', new_user_session_path, class: "") %>
</p>
<p>
  You may have already received your credentials. If not, please contact us at dialectica@philosophie.ch.
</p>
</div>
<%= render "layouts/footer" %>
