$first-color: #164da2;

.bg-first-color {
  background-color: $first-color;
}

.embed-responsive-210by297 {
  padding-bottom: 141.42%;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 5px 1.2em 10px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.thick-borders-3{
  border-width: 3px !important;
}
