<%= render "layouts/fishpond_navigation" %>
<div class="container">
<h1>new email template</h1>
    <%= render 'form', email_template: @email_template %>

    <%= link_to 'Back', email_templates_path %>

</div>
<%= render "layouts/footer" %>
