<div class="card my-3" style="min-width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= l question_answer.created_at, format: :usa %></h6>

    <p>
      <strong>question:</strong>
    </p>
    <p>
      <%= question_answer.question %>
    </p>
    <% if question_answer.answer.blank? %>

      <% if question_answer.submission.email == current_user.email %>
      <hr>
        <%= render 'question_answers/form_for_author_to_answer', question_answer: question_answer %>
      <% else %>
        <p>
          <strong>author hasn't answered yet.</strong>
        </p>
      <% end %>

    <% else %>
      <p>
        <strong>answer of the author:</strong>
      </p>
      <p>
        <%= question_answer.answer %>
      </p>
    <% end %>
  </div>
</div>
