
  <!-- Footer -->
  <footer class="footer mt-auto py-5 bg-first-color">
    <div class="container text-center">
      <p class="m-0 text-center text-white">
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, :method => 'delete', class: "text-white" %>
         |
        <%= link_to 'edit account', edit_user_registration_path, class: "text-white" %>
      <% else %>
        <%= link_to('login', new_user_session_path, class: "text-white") %> |
        <%= link_to "sign up", new_user_registration_path, class:"text-white" %>
      <% end %>
      </p>
    </div>
    <!-- /.container -->
  </footer>
